@layer components {
    .FooterContainer {
        @apply relative bg-primary
    }
    
    .FooterContainer::before {
        content: "";
        @apply -z-10 absolute top-0 bottom-0;
        left: -100vw;
        right: -100vw;
        background: inherit;
    }

    .FooterBody {
        @apply py-4 px-3 lg:mx-auto lg:flex lg:flex-row lg:justify-between lg:items-center
    }
    .FooterLogo {
        @apply flex items-center justify-center
    }
    .FooterText {
        @apply text-white lg:font-medium text-xs mt-4 text-center
    }
}