@layer components {
    .PageMenuContainer {
        @apply lg:flex lg:items-center lg:justify-center mt-10 cursor-pointer relative 
    }
    .PageMenu {
        @apply mb-5 lg:mb-0 flex items-center justify-center flex-col space-y-3  lg:opacity-50 lg:hover:opacity-100 lg:transition-opacity lg:duration-300  relative 
    }
    .PageMenu:hover .Title {
        @apply lg:opacity-100
    }
    .Title {
        @apply text-sm lg:text-base text-primary lg:opacity-0 lg:transition-opacity lg:duration-300
    }
    .ImageLeft {
        @apply lg:transform-gpu lg:translate-x-36
    }
    .ImageRight {
        @apply lg:transform-gpu lg:-translate-x-20 lg:-top-2 relative
    }
}