@layer components {
    .NavigationItem {
        @apply flex items-center text-gray-400 px-4 py-3 cursor-pointer rounded rounded-l-none hover:bg-gray-900 hover:text-gray-100 hover:border-gray-100 transition-colors duration-300 border-l-4  border-transparent
    }
    .NavigationItemActive {
        @apply flex items-center text-gray-100 bg-gray-900 px-4 py-3 cursor-pointer rounded rounded-l-none border-l-4 border-gray-100
    }
}