@layer components {
    .SliderItemContainer {
        @apply p-3 cursor-pointer flex items-center justify-center flex-col
    }
    .SliderItem {
        @apply rounded-full text-white w-40 h-40 md:w-52 md:h-52 xl:w-64 xl:h-64 flex justify-center items-center
    }
    .SliderText {
        @apply text-center text-xl
    }

    .SliderInfoContainer {
        @apply mt-3 flex flex-col items-center
    }
    .ArtistName {
        @apply font-semibold mb-2 text-sm
    }
    .ArtistInfo {
        @apply text-xs
    }
}