@layer components {
    .Title {
        @apply font-medium text-2xl text-primary capitalize
    }
    .SectionTitle {
        @apply font-medium text-2xl text-primary mb-4
    }
    .Info {
        @apply text-primary text-xs;
    }

    .DescriptionContainer {
        @apply mt-10 space-y-10;
    }
    .Description {
        @apply flex flex-col lg:flex-row items-center;
    }
    .DescriptionText {
        @apply mt-3 lg:mt-0 text-sm leading-8 lg:leading-10 text-primary lg:p-10 text-justify;
    }

    .ActionContainer {
        @apply my-10;
    }

    .VideoContainer {
        @apply relative w-full ;
    }
    

    .ArtworkLayoutContainer {
        @apply flex flex-wrap
    }

    .ArtworkLayoutContainer div {
        @apply bg-primary text-white h-52 text-center mt-2 mr-2 leading-10 flex-auto;
    } 

    .Navigation {
        @apply mt-20 flex flex-col md:flex-row items-center justify-center space-y-5 md:space-y-0 md:space-x-5
    }
    .NavigationButton {
        @apply py-4 p-4 text-white rounded-full w-full md:w-52 lg:w-64 font-normal flex items-center justify-center
    }
}