@layer components {
    .NavigationItem {
        @apply flex transition-colors duration-300 cursor-pointer hover:bg-primary-light hover:text-gray-50 text-gray-200 rounded capitalize
    }
    .NavigationItem a {
        @apply px-4 py-3 flex-1 font-medium
    }
}