@layer components {
    .ModalContainer {
        @apply flex fixed inset-0 items-center justify-center transition-all duration-300 opacity-0 -z-10 -translate-y-full
    }
    
    .ModalShow {
        @apply opacity-100 z-10
    }
}