@layer components {
    .Input {
        @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-primary focus:ring-opacity-50
    }
    .InputError {
        @apply border-red-300 focus:ring-red-300 focus:border-red-300 
    }
    .InputSuccess {
        @apply border-green-300 focus:ring-green-300 focus:border-green-300 
    }
    .InputDisable {
        @apply bg-gray-100 border-gray-100 cursor-not-allowed
    }

    .FallbackMessage {
        @apply text-xs
    }
    .FallbackMessageError {
        @apply text-red-500
    }
}